<header class="header">
    <nav class="navbar">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{or site.url (or siteRootUrl siteRootPath)}}">{{site.title}}</a>
            <button class="navbar-burger" data-target="topbar-nav">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
        <div id="topbar-nav" class="navbar-menu">
            <div class="navbar-end">
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link" href="#">Slides</a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item" target="_blank" href="/slides/madridgug2018.html">MadridGUG 2018</a>
                        <a class="navbar-item" target="_blank" href="/slides/madridjug2019.html">MadridJUG 2019</a>                        
                    </div>
                </div>
                <!--div class="navbar-item has-dropdown is-hoverable">
                  <a class="navbar-link" href="#">Services</a>
                  <div class="navbar-dropdown">
                    <a class="navbar-item" href="#">Service A</a>
                    <a class="navbar-item" href="#">Service B</a>
                    <a class="navbar-item" href="#">Service C</a>
                  </div>
                </div-->
                <!--div class="navbar-item has-dropdown is-hoverable">
                  <a class="navbar-link" href="#">Resources</a>
                  <div class="navbar-dropdown">
                    <a class="navbar-item" href="#">Resource A</a>
                    <a class="navbar-item" href="#">Resource B</a>
                    <a class="navbar-item" href="#">Resource C</a>
                  </div>
                </div-->
                <!--div class="navbar-item">
                  <span class="control">
                    <a class="button is-primary" href="#">Download</a>
                  </span>
                </div-->
                <a class="navbar-item" href="#">Home</a>
            </div>
        </div>
    </nav>
</header>
